.h1{
    height: 25px;
    text-align: center;
    background-image: linear-gradient(to right, red, green 30%, yellow);
    font-weight: bold;
    font-size: 20px;
    color: black;
    text-decoration: underline;
}
.manu{
    height: 80px;
    width: 800px;
    border: 2px solid red;
    border-radius: 10px;
    margin-top: 15px;
    margin-left: 200px;
    color: black;
    text-align: center;
    background-color:turquoise;
    font-weight: bold;
}

ul{
    margin-left: 320px;
    margin-right: 260px;
}
.maindiv{
    margin-top: 30px;
    padding-top: 16px;
    background-color: aquamarine;
    height: 143px;
    border: 2px solid black;
    border-radius: 10px;
}
.div2{
    display: flex;
    flex-direction: row;
}

.p1{
    border: 2px solid green;
    background-color: aqua;
    margin-left: 15px;
    margin-right: 15px;
    padding: 5px;
    border-radius: 10px;
    height: 65px;
    width: 370px;
    text-align: center;
    font-weight: bold;
    margin-top: -16px;
}
.div3{
    margin-left: 415px;
}
.h2{
    height: 25px;
    text-align: center;
    background-image: linear-gradient(to right, red, yellow 50%, red);
    font-weight: bold;
    font-size: 15px;
    color: black;
    text-decoration: underline;
    margin-top: 20px;
    margin-bottom: 15px;
}
.div4{
    display: flex;
    justify-content: space-evenly;
    /* background: radial-gradient(farthest-side at 55% 45%, blue, skyblue, green); */
    background: radial-gradient(blue , aqua, green);
    height: 200px;
    align-items: center;
}
.data{
    border: 1px solid red;
    height: 100px;
    width: 200px;
    background-color:yellow;
    color: brown;
    text-align: center;
    padding-bottom: 10px;
    font-weight: bold;
    border-radius: 10px;
    text-decoration: underline;
}
#heading{
    color: white;
    background-color: red;
    height: 30px;
    margin-top: 3px;
    font-size: 23px;
    font-weight: bold;
    text-align: center;
    grid-column: 1 / 5;
}
.grid-cont{
    display: grid;
    width: 1250px;
    height: auto;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 5px;
    column-gap: 5px;
    border: 1px solid black;
    margin-top: 5px;
}
.grid1{
    height: 70px;
    width: 368px;
    color:aliceblue;
    background-color: lightgreen;
    text-align: center;
    font-size: 28px;
    font-weight: bold;
}
.grid2{
    height: 70px;
    width: 368px;
    color: aliceblue;
    background-color: lightblue;
    font-size: 28px;
    font-weight: bold;
}
.grid3{
    height: 70px;
    width: 368px;
    background-color: blue;
    color: white;
    font-size: 23px;
    font-weight: bold;
}
.grid4{
    width: 130px;
    background-color: black;
    color: white;
    height: 185px;
    grid-column-start: 4;
    grid-row: 2 / 8;
}
.grid5{
    height: 100px;
    color: rgb(255, 255, 255);
    background-color:orange;
    grid-column: 1 / 4;
    /* grid-column-start: 1;
    grid-column-end: 4; */
    font-size: 20px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    padding: 5px;
}
.last{
    color: black;
    background-color: aqua;
    grid-column: 1 / 5;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}
